.App {
  text-align: center;
}

.MyRow{
  display: flex;
  justify-content: center;
  width: 1170px;
  margin: auto;
}
.wrap{
  flex-wrap: wrap;
}
.new_title{
  margin-top: 40px;
}

.col-4{
  width: 24%;
}

.col-4 + .col-4{
  margin-left: 10px;
}

.col-3{
  width: 32%;
}

.col-3 + .col-3{
  margin-left: 12px;
}



.evo-recentview {
    display: none;
}








